body {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    font-weight: bold;
    padding: 50px;
    margin: 50px;
    border: 30px;
    font-size: 70px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

.accordian {
    padding: 20px;
    margin: 20px;
    border: 20px;
}

.card {
    padding: 20px;
    margin: 20px;
    border: 20px;
}